<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> RealEstateGPT</title>
</head>
<body>
<h3>Please enter a GPT input:</h3>
<h4>Start your input with "Give me 1 zip code that...", since this can only handle one zip code at a time for now.</h4>
<h5>Example 1: "Give me 1 zip code that is near a big national park and is a big city or town."</h5>
<h5>Example 2: "Give me 1 zip code near a beach and an international airport."</h5>
<form method="post" action="/output">
    <input style="width: 600px;" type="text" name="address" placeholder="Enter GPT input:">
    <br><br>
    <input type="submit" value="Submit" name="ok"/>
</form>
</body>
</html>